---
layout: default
pagination:
  data: testimony.proceedings
  size: 1
  alias: proceeding
permalink: "testimony/proceedings/day-{{ proceeding.day | slug }}/"
---

{{ proceeding.date_raw }}

{% for row in testimony.testimony | filterMatchingRows("day", proceeding.day) %}
	{% if row.line_type == "proceedings_start" %}
	<section>
		<p class="time-marker">{{ row.text }}</p>
	{% elif row.line_type == "section_header" %}
	</section>
	<section>
		<h2 class="testimony-section-header">{{ row.text }}</h2>
	{% elif row.line_type == "speaker_start" %}
		<div class="intervention intervention--{{ row.speaker_group }}" id="{{ row.intervention_id }}">
			<p class="intervention-speaker">{{ row.speaker_proper }}</p>
			<p>{{ row.text }}</p>
			<ul class="intervention-meta">
				<li><a href="/testimony/speakers/FIXME/">{{ row.speaker_proper }}</a>, {{ row.speaker_title}} ({{ row.speaker_affiliation }})</li>
				<li><a href="{{ proceeding.transcript_url }}#page={{ row.page }}">Volume {{ proceeding.day }} ({{ proceeding.date_raw }}), page {{ row.page }}</a></li>
			</ul>
		</div>
	{% elif row.line_type == "time_marker" %}
		<p class="time-marker">{{ row.text }}</p>
	</section>
	<section>
	{% elif row.line_type == "proceedings_end" %}
		<p class="time-marker">{{ row.text }}
	</section>
	{% else %}
		<p><strong>uncat line_type: {{ row.line_type }}</strong> {{ row.text }}</p>
	{% endif %}
{% endfor %}
