---
layout: default
pagination:
  data: testimony.proceedings
  size: 1
  alias: proceeding
permalink: "testimony/proceedings/day-{{ proceeding.day | slugify }}/"
eleventyComputed:
  title: "Volume {{ proceeding.day }} ({{ proceeding.date_raw }}) – Proceedings – POEC Explorer"
---

<section class="testimony-intro intervention intervention--time-marker">
	<h1>Volume {{ proceeding.day }} ({{ proceeding.date_raw }})</h1>

	<p class="intervention-meta">(<a href="#testimony">jump to testimony</a>)</p>

	<p>Volume {{ proceeding.day }} has {{ proceeding.pages_of_testimony }} pages of testimony. {{ proceeding.n_speakers }} people spoke before the Commission, including {{ proceeding.n_witnesses }} witness{{ 'es' if proceeding.n_witnesses != 1 }}.</p>

	<p>Speakers, by number of times they spoke:</p>

	<ol class="list--spaced">
	{% for speaker in proceeding.speakers %}
		<li>
			{% if speaker.speaker_title_abbr %}
				<a href="/testimony/speakers/{{ speaker.speaker_id_web }}/">{{ speaker.speaker_proper }}</a>, <abbr title="{{ speaker.speaker_title }}">{{ speaker.speaker_title }} ({{ speaker.speaker_title_abbr }})</abbr>
			{% elif speaker.speaker_title %}
				<a href="/testimony/speakers/{{ speaker.speaker_id_web }}/">{{ speaker.speaker_proper }}</a>, {{ speaker.speaker_title }}
			{% else %}
				<a href="/testimony/speakers/{{ speaker.speaker_id_web }}/">{{ speaker.speaker_proper }}</a>
			{% endif %}
			{% if speaker.speaker_affiliation_abbr %}
				- <abbr title="{{ speaker.speaker_affiliation }}">{{ speaker.speaker_affiliation }} ({{ speaker.speaker_affiliation_abbr }})</abbr>
			{% elif speaker.speaker_affiliation %}
				- {{ speaker.speaker_affiliation }}
			{% endif %}
			(spoke {{ speaker.n_interventions }} time{{ 's' if speaker.n_interventions != 1 }})
		</li>
	{% endfor %}
	</ol>
</section>

{% for row in testimony.testimony | filterMatchingRows("day", proceeding.day) %}
	{% if row.line_type == "proceedings_start" %}
	<section>
		<div id="testimony" class="intervention intervention--time-marker">
			<p class="time-marker">{{ row.text }}</p>
		</div>
	{% elif row.line_type == "section_header" %}
	</section>
	<section>
		<header class="intervention intervention--section-header">
			<h2 class="testimony-section-header">{{ row.text }}</h2>
		</header>
	{% elif row.line_type == "speaker_start" %}
		<div class="intervention intervention--{{ row.speaker_group }}" id="{{ row.intervention_id }}">
			<p class="intervention-speaker">
				{% if row.speaker_title_abbr %}
					<a href="/testimony/speakers/{{ row.speaker_id_web }}/">{{ row.speaker_proper }}</a>, <abbr title="{{ row.speaker_title }}">{{ row.speaker_title_abbr }}</abbr>
				{% elif row.speaker_title %}
					<a href="/testimony/speakers/{{ row.speaker_id_web }}/">{{ row.speaker_proper }}</a>, {{ row.speaker_title }}
				{% else %}
					<a href="/testimony/speakers/{{ row.speaker_id_web }}/">{{ row.speaker_proper }}</a>
				{% endif %}
				{% if row.speaker_affiliation_abbr %}
					(<abbr title="{{ row.speaker_affiliation }}">{{ row.speaker_affiliation_abbr }}</abbr>)
				{% elif row.speaker_affiliation %}
					({{ row.speaker_affiliation }})
				{% endif %}
			</p>
			<p>{{ row.text }}</p>
			<p class="intervention-meta intervention-meta--gridded">
				<a href="{{ proceeding.transcript_url }}#page={{ row.page }}">Volume {{ proceeding.day }} ({{ proceeding.date_raw }}), page {{ row.page }}</a>
				<a class="intervention-permalink" href="#{{ row.intervention_id }}">{{ row.intervention_id }}</a>
			</p>
		</div>
	{% elif row.line_type == "time_marker" %}
		<div class="intervention intervention--time-marker">
			<p class="time-marker">{{ row.text }}</p>
		</div>
	</section>
	<section>
	{% elif row.line_type == "proceedings_end" %}
		<div class="intervention intervention--time-marker">
			<p class="time-marker">{{ row.text }}</p>
		</div>
	</section>
	{% else %}
		<p><strong>uncat line_type: {{ row.line_type }}</strong> {{ row.text }}</p>
	{% endif %}
{% endfor %}
