---
layout: default
pagination:
  data: testimony.speakers
  size: 1
  alias: speaker
permalink: "testimony/speakers/{{ speaker.speaker_proper | slugify }}/"
---

Here are all the times {{ speaker.speaker_proper }} spoke:

<ol>
{% for row in testimony.testimony | filterMatchingRows("speaker_standardized", speaker.speaker_standardized) %}
  {% set path_to_intervention = '/testimony/proceedings/day-' + row.day + '/#' + row.intervention_id %}
	<li id="{{ row.intervention_id }}"><a href="{{ path_to_intervention }}">{{ row.intervention_id }}</a>: {{ row.text }}</li>
{% endfor %}
<ol>
