---
layout: default
title: "Speakers – POEC Explorer"
---

{% set speakers = testimony.speakers | sort(false, false, 'speaker_proper') %}

{% macro render_speaker_item(speaker) %}
<li>{% if speaker.speaker_title_abbr %}
		<a href="/testimony/speakers/{{ speaker.speaker_id_web }}/">{{ speaker.speaker_proper }}</a>, <abbr title="{{ speaker.speaker_title }}">{{ speaker.speaker_title }} ({{ speaker.speaker_title_abbr }})</abbr>
	{% elif speaker.speaker_title %}
		<a href="/testimony/speakers/{{ speaker.speaker_id_web }}/">{{ speaker.speaker_proper }}</a>, {{ speaker.speaker_title }}
	{% else %}
		<a href="/testimony/speakers/{{ speaker.speaker_id_web }}/">{{ speaker.speaker_proper }}</a>
	{% endif %}
	{% if speaker.speaker_affiliation_abbr %}
		- <abbr title="{{ speaker.speaker_affiliation }}">{{ speaker.speaker_affiliation }} ({{ speaker.speaker_affiliation_abbr }})</abbr>
	{% elif speaker.speaker_affiliation %}
		- {{ speaker.speaker_affiliation }}
	{% endif %}
	(spoke {{ speaker.n_interventions }} time{{ 's' if speaker.n_interventions != 1 }}, on {{ speaker.n_speaking_days }} day{{ 's' if speaker.n_speaking_days != 1 }})
</li>
{% endmacro %}

{% macro render_speaker_list(speaker_group) %}
<ul class="list--spaced">
	{% for speaker in speakers | filterMatchingRows("speaker_group", speaker_group) %}
		{{ render_speaker_item(speaker) }}
	{% endfor %}
</ul>
{% endmacro %}

<section class="testimony-intro intervention intervention--time-marker">
	<h1>Testimony by speaker</h1>

	<p class="disclaimer">Very important disclaimer: <strong>testimony from this site should not be taken as authoritative; <a href="https://publicorderemergencycommission.ca/public-hearings/">check the relevant public hearing for verbatim quotes</a> and the associated transcript for the original</strong>. For convenience, testimony includes links directly to the relevant page (where a speaker started a given intervention) in the original PDF transcripts.</p>

	<p>Speakers are categorized (and their entries colour-coded) depending on their role:</p>

	<ul class="list--spaced">
		{% for category in ["witnesses","experts","counsel","commission","other"] %}
		<li><a href="#speakers--{{category}}">{{ category }}</a></li>
		{% endfor %}
	</ul>

	<h2 id="speakers--witnesses">Witnesses</h2>
	{{ render_speaker_list("witness") }}

	<h2 id="speakers--experts">Experts</h2>
	{{ render_speaker_list("expert") }}

	<h2 id="speakers--counsel">Counsel</h2>
	{{ render_speaker_list("counsel") }}

	<h2 id="speakers--commission">Commission</h2>
	{{ render_speaker_list("commission") }}

	<h2 id="speakers--other">Other</h2>
	{{ render_speaker_list("other") }}
</section>