---
title: Public Order Emergency Commission Explorer
layout: default.njk
---

<section class="page-intro intervention intervention--time-marker">
	<h1>Public Order Emergency Commission Explorer</h1>

	<p>The <abbr title="Public Order Emergency Commission"><a href="https://publicorderemergencycommission.ca/">Public Order Emergency Commission</a> (POEC)</abbr>, led by Justice Paul Rouleau, is sitting to “inquire into the circumstances that led to the declaration of emergency that was in place from February 14-23, 2022, and the measures taken for dealing with the emergency”.</p>

	<p>The Commission has been a model for transparent deliberations:</p>

	<ul class="list--spaced">
		<li><a href="https://publicorderemergencycommission.ca/public-hearings/">public hearings are broadcast live, and available to stream on-demand with next-day transcripts</a></li>
		<li><a href="https://publicorderemergencycommission.ca/documents/presentations-overview-reports-and-exhibits/">exhibits (evidence submitted by all involved) are available online once introduced in a hearing</a></li>
		<li><a href="https://publicorderemergencycommission.ca/documents/procedural-documents-decisions-and-legislation/">procedural and policy decisions are clearly documented and available online</a></li>
	</ul>

	<p>This website tries to make the Commission’s work even more accessible and transparent, by displaying hearing transcripts in a more user-friendly format.</p>

	<p>One “volume” of transcripts is published for each day of the Commission’s hearings – <a href="https://publicorderemergencycommission.ca/files/documents/Transcripts/POEC-Public-Hearings-Volume-1-October-13-2022.pdf">see the first day’s volume as an example</a>. These transcripts are produced by certified court reporters. They’re incredibly detailed, accurate documents, making it easier for all to review what’s been said during the hearings.</p>

	<p>This website aims to make those transcripts more accessible. It converts the line-by-line PDF format into an HTML format, using paragraphs and other semantic markup to increase the technical and visual accessibility of these documents.</p>
		
	<p>The testimony presented here is taken directly from the transcripts—<strong>there are no modifications to the original text, other than to correct a few typos in speaker names</strong>—but line numbers are separated, and speaker and heading information is displayed differently.</p>

	<p>The conversion of the transcripts from PDF to HTML is an automated process (you can <a href="https://github.com/lchski/poec-analysis">see the data processing code on GitHub</a>). It’s been pretty thoroughly quality controlled and debugged, but it’s always possible some issues slip through.</p>
	
	<p class="disclaimer">This prompts a very important disclaimer: <strong>testimony from this site should not be taken as authoritative; <a href="https://publicorderemergencycommission.ca/public-hearings/">check the relevant public hearing for verbatim quotes</a> and the associated transcript for the original</strong>. For convenience, testimony includes links directly to the relevant page (where a speaker started a given intervention) in the original PDF transcripts.</p>

	<p>This site remains <a href="https://github.com/lchski/poec-explorer">a work in progress, with various improvements planned</a>. For any questions, comments, concerns, please <a href="https://lucascherkewski.com/contact/">contact Lucas Cherkewski</a>. (For technical contributions, <a href="https://github.com/lchski/poec-explorer">see the site code on GitHub</a>.)
</section>
